### Assignment 1: Creating and Accessing Sets
Create a set with the first 10 positive integers. Print the set.

In [3]:
positive_set={x for x in range(1,11)}
print(positive_set)
print(type(positive_set))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
<class 'set'>

### Assignment 2: Adding and Removing Elements
Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [5]:
positive_set.add(11)
print(positive_set)
positive_set.remove(1)
print(positive_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

### Assignment 3: Set Operations
Create two sets: one with the first 5 positive integers and another with the first 5 even integers. 
Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [ ]:
set1={1,2,3,5}
set2={2,4,9,0}
union1=set1.union(set2)
print(union1)
intersection1=set1.intersection(set2)
print(intersection1)
difference1=set1.difference(set2)
print(difference1)
symmetric_difference=set1.symmetric_difference(set2)
print(symmetric_difference)
## another way of doingprint(f"Union: {set1 | set2}")
#print(f"Intersection: {set1 & set2}")
#print(f"Difference (set1 - set2): {set1 - set2}")
#print(f"Symmetric Difference: {set1 ^ set2}")

{0, 1, 2, 3, 4, 5, 9}
{2}
{1, 3, 5}
{0, 1, 3, 4, 5, 9}

### Assignment 4: Set Comprehensions
Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [11]:
square_numbers={x**2 for x in range(1,11)}
print(square_numbers)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

### Assignment 5: Filtering Sets
Create a new set containing only the even numbers from the set created in Assignment 1 
using a set comprehension. Print the new set.

In [12]:
even_numbers={x for x in positive_set if x%2==0}
print(even_numbers)

{2, 4, 6, 8, 10}

### Assignment 6: Set Methods
Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [13]:
set0={11,22,33,11,22,33,11,55,33,77,66,11,44,55}
unique_set=set(set0)
print(unique_set)

{33, 66, 22, 55, 11, 44, 77}

### Assignment 7: Subsets and Supersets
Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. 
Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [14]:
set1 = set(range(1, 6))
set2 = set(range(1, 4))
print(f"Is set2 a subset of set1? {set2.issubset(set1)}")
print(f"Is set1 a superset of set2? {set1.issuperset(set2)}")

Is set2 a subset of set1? True
Is set1 a superset of set2? True

### Assignment 8: Frozenset
Create a frozenset with the first 5 positive integers. Print the frozenset.

In [15]:
fs = frozenset(range(1, 6))
print(fs)

frozenset({1, 2, 3, 4, 5})

### Assignment 9: Set and List Conversion
Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and 
convert it back to a set. Print the resulting set.

In [1]:
s = set(range(1, 6))
lst = list(s)
lst.append(6)
s = set(lst)
print(s)

{1, 2, 3, 4, 5, 6}