### Assignment 1: Creating and Accessing Sets
Create a set with the first 10 positive integers. Print the set.

In [ ]:
positive_set={x for x in range(1,11)}
print(positive_set)
print(type(positive_set))

### Assignment 2: Adding and Removing Elements
Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [ ]:
positive_set.add(11)
print(positive_set)
positive_set.remove(1)
print(positive_set)

### Assignment 3: Set Operations
Create two sets: one with the first 5 positive integers and another with the first 5 even integers. 
Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [ ]:
set1={1,2,3,5}
set2={2,4,9,0}
union1=set1.union(set2)
print(union1)
intersection1=set1.intersection(set2)
print(intersection1)
difference1=set1.difference(set2)
print(difference1)
symmetric_difference=set1.symmetric_difference(set2)
print(symmetric_difference)
## another way of doingprint(f"Union: {set1 | set2}")
#print(f"Intersection: {set1 & set2}")
#print(f"Difference (set1 - set2): {set1 - set2}")
#print(f"Symmetric Difference: {set1 ^ set2}")

### Assignment 4: Set Comprehensions
Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [ ]:
square_numbers={x**2 for x in range(1,11)}
print(square_numbers)

### Assignment 5: Filtering Sets
Create a new set containing only the even numbers from the set created in Assignment 1 
using a set comprehension. Print the new set.

In [ ]:
even_numbers={x for x in positive_set if x%2==0}
print(even_numbers)

### Assignment 6: Set Methods
Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [ ]:
set0={11,22,33,11,22,33,11,55,33,77,66,11,44,55}
unique_set=set(set0)
print(unique_set)

### Assignment 7: Subsets and Supersets
Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. 
Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [ ]:
set1 = set(range(1, 6))
set2 = set(range(1, 4))
print(f"Is set2 a subset of set1? {set2.issubset(set1)}")
print(f"Is set1 a superset of set2? {set1.issuperset(set2)}")

### Assignment 8: Frozenset
Create a frozenset with the first 5 positive integers. Print the frozenset.

In [ ]:
fs = frozenset(range(1, 6))
print(fs)

### Assignment 9: Set and List Conversion
Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and 
convert it back to a set. Print the resulting set.

In [ ]:
s = set(range(1, 6))
lst = list(s)
lst.append(6)
s = set(lst)
print(s)

### Assignment 10: Set and Dictionary
Create a dictionary with set keys and integer values. Print the dictionary.

In [ ]:
dict={
    frozenset({2,3}):55,
    frozenset({2,45}):99,
    frozenset({4,22}):88
}
print(dict)

### Assignment 11: Iterating Over Sets
Create a set and iterate over the elements, printing each element.

In [ ]:
iteration={11,33,55,66,77,88,99}
for x in iteration:
    print(x)

### Assignment 12: Removing Elements from Sets
Create a set and remove elements from it until it is empty. Print the set after each removal.

In [ ]:
set0=set(range(1,11))
while set0:
    set0.pop()
    print(set0)

### Assignment 13: Set Symmetric Difference Update
Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [ ]:
set1={22,44,55,66,77,88,11,0,9,2}
set2={0,9,33,66,77,44,7,6,5,2}
set3=set1.symmetric_difference(set2) #fast and easiest way set1.symmetric_difference_update(set2)
set1=set3
print(set1)

### Assignment 14: Set Membership Testing
Create a set and test if certain elements are present in the set. Print the results.

In [ ]:
object_set={"rabina",4,"Sagar",44,"Saina",0}
print(object_set)
print("rejina" in object_set)
print(4 in object_set)

### Assignment 15: Set of Tuples
Create a set containing tuples, where each tuple contains two elements. Print the set.

In [ ]:
s={(2,5),(5,7),(99,0),(99,4),(33,7)}
print(s)