### Assignment 1: Creating and Accessing Tuples
Create a tuple with the first 10 positive integers. Print the tuple.

In [ ]:
positive_integers=tuple(range(1,11))
print(positive_integers)

### Assignment 2: Accessing Tuple Elements
Print the first, middle, and last elements of the tuple created in Assignment 1.

In [ ]:
print("First element:",positive_integers[0])
middle_element=len(positive_integers)//2
print("Midddle element:",positive_integers[middle_element])
print("Last element:",positive_integers[-1])

### Assignment 3: Tuple Slicing
Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [ ]:
three_elements=positive_integers[0:3]
last_elements=positive_integers[7:11]
middle_elements=positive_integers[3:7]
print("First three elements:",three_elements)
print("Middle elements:",middle_elements)
print("Last elements:",last_elements)

### Assignment 4: Nested Tuples
Create a nested tuple representing a 3x3 matrix and print the matrix
Access and print the element at the second row and third column.

In [ ]:
matrix=((1,2,3),(3,4,5),(44,66,77))
print("Matrix : ")
for row in matrix:
    print(row)
print("The element at the second row and third column:",matrix[1][2])

### Assignment 5: Tuple Concatenation
Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [ ]:
tup1=(1,2,3)
tup2=(4,5,6)
concatination=tup1 +tup2
print(concatination)

### Assignment 6: Tuple Methods
Create a tuple with duplicate elements and count the occurrences of an element. 
Find the index of the first occurrence of an element in the tuple.

In [ ]:
duplicate_tuple=(11,22,33,11,4,2,11,6,77,88,11)
print("No of duplicate tuple:",duplicate_tuple.count(11))
print("The index of first occurance of 11 in tuple:",duplicate_tuple.index(11))

### Assignment 7: Unpacking Tuples
Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [ ]:
tuples=(22,44,55,66)
a, *b, c=tuples #unpacking tuples #* creates a list of remaning elements 
print(a)
print(b)
print(c)

### Assignment 8: Tuple Conversion
Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [ ]:
lst=[1,2,3,4,5]
tuples=tuple(lst)
print(tuples)

### Assignment 9: Tuple of Tuples
Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [ ]:
tuples=((1,2,33),(11,3,2),(99,2,4))
print(tuples[0])
print(tuples[1])
print(tuples[2])

### Assignment 10: Tuple and List
Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [ ]:
positive_integers=(1,2,3,4,5)
lst=list(positive_integers)
lst.append(6)
positive_integers=tuple(lst)
print(positive_integers)

### Assignment 11: Tuple and String
Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [ ]:
string="Hello"
tpl=tuple(string)
joined_string=''.join(tpl)
print(joined_string)

### Assignment 12: Tuple and Dictionary
Create a dictionary with tuple keys and integer values. Print the dictionary.

In [ ]:
tpl={
    (2,4,6):"rabina",
    (2,5,7):"sagar",
    (3,6,7):"kola"
}
print(tpl)

### Assignment 13: Nested Tuple Iteration
Create a nested tuple and iterate over the elements, printing each element.

In [ ]:
nested_tuple=((11,2,33),
              (44,7,77),
              (66,8,9))
for elemtns in nested_tuple:
    for items in elemtns:
        print(items)

### Assignment 14: Tuple and Set
Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [ ]:
tpl = (1, 2, 2, 3, 4, 4, 4, 5)
unique_set = set(tpl)
print(unique_set)

### Assignment 15: Tuple Functions
Write functions that take a tuple and return the minimum, maximum, and sum of the elements.
Print the results for a sample tuple.

In [ ]:
def min_in_tuple(tpl):
    return min(tpl)

def max_in_tuple(tpl):
    return max(tpl)

def sum_of_tuple(tpl):
    return sum(tpl)

sample_tpl = (77, 99, 0, 46, -5)
print(f"Minimum: {min_in_tuple(sample_tpl)}")
print(f"Maximum: {max_in_tuple(sample_tpl)}")
print(f"Sum: {sum_of_tuple(sample_tpl)}")